<%- include('../partials/header'); -%>
<link rel="stylesheet" href="../stylesheets/nav.css">
<link rel="stylesheet" href="../stylesheets/form.css">
</head>
<body>   
<%- include('../partials/nav'); -%>

<% if(userConfirmed){ %>
<div class="form-container">
    <div class="form">
        <h1 class="heading"">LogIn <i class="fa fa-sign-in" aria-hidden="true"></i></h1>
        <form action="/login" method="POST">
            <input class="form-control" type="text" name="username" placeholder="username" required>
            <input id="password" class="form-control" type="password" name="password" placeholder="password" required>
            <label class="btn" for="submit">Submit</label>
            <button id="submit" hidden></button>
        </form>
    </div>
</div>
<% }else{ %>
    <div class="alert-danger"> 
        <strong> !CONFIRM YOUR EMAIL! </strong> 
    </div>
<% } %>

<%- include('../partials/footer'); -%>