<%- include('./partials/header'); -%>

<div class="container">
    <div class="alert alert-info" role="alert" style="margin: 250px auto">
    <h1 style="text-align: center">!!CONFIRM YOUR EMAIL!!</h1>
    </div>
</div>

<%- include('./partials/footer'); -%>