<%- include('./partials/header'); -%>

<div class="container">
    <div class="form">
        <h1 class="heading">LogIn <i class="fa fa-sign-in" aria-hidden="true"></i></h1>
        <form action="/login" method="POST">
            <input class="form-control" type="text" name="username" placeholder="username" required>
            <input class="form-control" type="password" name="password" placeholder="password" required>
            <label class="form-btn" for="submit">Login</label>
            <button id="submit" hidden>LogIn</button>
        </form>
    </div>     
</div>

<%- include('./partials/footer'); -%>