<%- include('./partials/header'); -%>

<div class="container">
    <div class="alert alert-danger" role="alert" style="margin: 250px auto">
    <h1 style="text-align: center">!!Enter Correct Inputs For LogIn!!</h1>
    </div>
</div>

<%- include('./partials/footer'); -%>