.about{
    margin-top: 120px;
    display: block;
    float: left;
    padding: 2rem;
}
.welcome-line{
    color: white;
    font-size: 2rem;
}
.sale-buy-donate{
    margin-top: 20px;
    color: rgb(0, 27, 27);
    font-size: 1.4rem;
}
.highlight{
    color: rgb(61, 1, 110);
}