.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
}
.grid-container{
    margin: 30px auto;
    display: grid;
    grid-template-columns:  40vw 40vw;
    grid-template-rows: 60vh;
    grid-gap: 50px 50px
}

.grid-item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.grid-item img{
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 3px 10px var(--white-color);
}
.welcome-line{
    margin-top: 140px;
    margin-left: 5%;
    color: var(--primary-color);
    font-size: 2rem;
    border-bottom: 5px solid var(--primary-color);
    width: 40%;
}
.sale-buy-donate{
    margin-top: 20px;
    color: white;
    font-size: 1.4rem;
}
.highlight{
    color: var(--secondary-color);
}

.btn{
    margin-left: 5%;
}
.btn:last-child{
    margin-bottom: 10vh;
}

@media only screen and (max-width:560px){
    .grid-container{
        grid-template-columns: 80vw;
    }
    #middle{
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .about{
        align-items: center;
    }
}