.about{
    margin-top: 120px;
    display: block;
    float: left;
    padding: 2rem;
}
.welcome-line{
    color: black;
    font-size: 2rem;
    border-bottom: 5px solid rgb(7, 73, 73);
    width: 40%;
}
.sale-buy-donate{
    margin-top: 20px;
    color: rgb(0, 27, 27);
    font-size: 1.4rem;
}
.highlight{
    color: rgb(61, 1, 110);
}