.contact{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dev-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--white-color);
}

.dev-photo{
    border: 5px solid var(--primary-color);
    border-radius: 50%;
}

h1,
h2,
p{
    margin-top: 20px ;
}

h1,
h2:nth-child(3){
    color: var(--primary-color);
}

@media only screen and (max-width: 420px){
    .dev-intro{
        width: 80vw;
    }
    .dev-photo img{
        width: 50vw;
    }
}