.index{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
}

.index-title{
    text-align: center;
    width: 70%;
    font-size: 2rem;
    padding: 10px 20px;
    color: var(--white-color);
    border: 5px solid var(--primary-color);
    margin-top: 140px;
}

.products{
    margin-top: 30px;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product{
    margin: 20px 20px;
    width: 24vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--primary-color);
}

.product img{
    width: 100%;
    height: 170px;
}

.product .caption{
    width: 80%;
    text-align: center;
    margin-top: 10px;
    color: var(--white-color);
}

.product a{
    margin: 10px auto;
}

@media only screen and (max-width: 900px) {
    .product{
        width: 35vw;
    }
}

@media only screen and (max-width: 600px) {
    .product{
        width: 60vw;
    }
    .products{
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 420px) {
    .product{
        width: 70vw;
    }
    .index-title{
        margin-top: 100px;
    }
}