.show-item{
    display: flex;
    justify-content: space-between;
    border: 2px solid teal;
    width: 100%;
    height: 70vh;
    margin-top: 125px;
}
.show-item .show-image{
    width: 40%;
    height: 100%;
}
.show-image img{
    width: 100%;
    height: 100%;
}
.show-item .caption-full{
    width: 60%;
    justify-content: space-around;
    background-color: teal;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
}
.show-item .caption-full .name-price{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.show-item .caption-full .description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 70%;
}
.show-item .caption-full .description p{
    word-break: break-all;
}
.show-item .caption-full .action-btn{
    display: flex;
    margin: auto 20px;
    flex-wrap: wrap;
}
.show-item .caption-full .action-btn .btn{
    height: 62%;
    width: 70px;
    padding: 5px 10px;
    background-color: rgb(188, 209, 0);
    border: 2px solid rgb(1, 32, 32);
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    
}
.show-item .caption-full .action-btn .btn:hover{
    background-color: rgb(135, 150, 6);
    border: 2px solid rgb(0, 26, 26);
}
.show-item .caption-full .action-btn .btn-danger{
    height: 100%;
    background-color: rgb(250, 151, 133);
    border: 2px solid rgb(158, 3, 3);
    padding: 6px 10px;
    margin-left: 20px;
    color: white;
    font-size: 1.3rem;
    width: 100px;
    cursor: pointer;
}
.show-item .caption-full .action-btn .btn-danger:hover{
    background-color: rgb(161, 29, 5);
    border: 2px solid rgb(53, 1, 1);
}
@media screen and (max-width:600px){
    .show-item{
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 100%;

    }
    .show-item .show-image{
        height: 40vh;
        width: 100%;
    }
    .show-item .caption-full{
        height: 40%;
        width: 100%;
        padding: 0;
    }
    .show-item .caption-full .action-btn{
        justify-content: left;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .show-item .caption-full .action-btn .btn-danger,
    .show-item .caption-full .action-btn, .btn{
        
        height: 100%;
    }
}