<%- include('../partials/header'); -%>
<link rel="stylesheet" href="/stylesheets/about.css">
<link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>   
<%- include('../partials/nav'); -%>

<div class="about">
    <div class="welcome-line">THE IDEA!</div>
    <div class="grid-container">
        <div class="grid-item"><p class="sale-buy-donate">
            ➥This is a platform where students can <span class="highlight">BUY, SELL, DONATE</span> their <span class="highlight">USED ITEMS</span>. Suppose, A student had bought a drafter earlier and afterwards it was not in his/her use, then he/she can sell or donate that drafter.The students who passout from college can also sell or donate their used items(books, table, engineering instruments) to the juniors.    
        </p></div>
        <div class="grid-item"><img src="https://drive.google.com/uc?id=1umMn6PrsTg6p5CWiPb1JJ0zMEEHFNN7q" alt=""></div>
        <div class="grid-item" id="middle"><img src="https://drive.google.com/uc?id=1fPwL-Ezb_N_E67OB65hyJFeQXHdlsEG0" alt=""></div>
        <div class="grid-item"><p class="sale-buy-donate">
            ➥So, If you have something which is not in your use, you can post here on this website. The other student can <span class="highlight">BUY</span> or <span class="highlight">BORROW</span> from you.    
        </p></div>
        
        <div class="grid-item"><p class="sale-buy-donate">
            ➥So, If want SELL or DONATE, You can post the item here with the <span class="highlight">DETAILS OF THAT ITEM</span> that you have and <span class="highlight">YOUR CONATCT DETAIL</span>, So that the other student can <span class="highlight">CONATCT</span> you.    
        </p></div>
        <div class="grid-item"><img src="https://drive.google.com/uc?id=1NoOO15UbpFkhBX31QQrsBireg0jWNnFu" alt=""></div>
    </div>
    <a href="/products"class="btn">SHOW ITEMS</a>
    <a href="/products/new"class="btn">SELL OR DONATE</a>
</div>


<%- include('../partials/footer'); -%>