<%- include('../partials/header'); -%>
<link rel="stylesheet" href="/stylesheets/landing.css">
<link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>   
<%- include('../partials/nav'); -%>

<div class="container-landing">
    <div class="main">
            <div class="heading"><span>WELCOME</span> <span>TO</span> <span>KNITSALES</span></div>
            <p class="intro">
                Hey Folks, This is the platform where you can find all your necessary items from other students and faculty members. 
            </p>
            <a href="/products" class="btn">SHOW ITEMS</a>
    </div>    
</div>

<%- include('../partials/footer'); -%>