<%- include('../partials/header'); -%>

<div id="landing-header">
    <h1>Welcome To KnitSales!</h1>
    <a  class="btn btn-primary" href="/products">Show products!</a>
</div>


<%- include('../partials/footer'); -%>