<%- include('../partials/header'); -%>


<div class="container landing">
    <div class="welcome-line">WELCOME TO KNITSALES</div>
    <p class="sale-buy-donate">
    Hey Folks, This is the platform of your college where you can find all your necessary items from other students and faculty members. 
    </p>
    <a href="/products"class="button-show">SHOW ITEMS</a>
</div>


<%- include('../partials/footer'); -%>