<%- include('../partials/header'); -%>


<div class="container landing">
    <div class="main">
        <div class="hello">
            <div class="welcome-line">WELCOME TO KNITSALES</div>
            <p class="sale-buy-donate">
                Hey Folks, This is the platform of your college where you can find all your necessary items from other students and faculty members. 
            </p>
        </div>
    
        <div class="svg">
            <img src="https://drive.google.com/uc?id=1PFy4DYfKXaOrl5N0g1GGO1EGeMGhBxQO" alt="ðŸ«ï¸">
        </div>
    </div>    
    <a href="/products" id="landing-btn">SHOW ITEMS</a>
</div>


<%- include('../partials/footer'); -%>