<%- include('../partials/header'); -%>
<link rel="stylesheet" href="/stylesheets/form.css">
<link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>   
<%- include('../partials/nav'); -%>

<div class="form-container">
    <div class="form">
        <h1 class="heading">Post New Item <i class="fa fa-plus-square" aria-hidden="true"></i></h1>
        <form action="/products" method="POST" enctype="multipart/form-data">
                <input class="form-control" type="text" placeholder="name" name="name" required>
                <input class="form-control" type="number" name="price" placeholder="price" min="0.1" step="0.1"  required>
                <textarea class="form-control" name="description" placeholder="description" required>Add description about the item!</textarea>
                <label class="btn" for="file">Select Image</label>
                <input id="file" type="file" name="image"  hidden required>
                <label class="btn" for="submit">Submit</label>
                <button id="submit" hidden></button>
            </div>
        </form>
    </div>
</div>

<%- include('../partials/footer'); -%>